.main-section{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.sidebar{
    grid-column-start:1 ;
    grid-column-end: 4;
}
.news{
    grid-column-start: 4;
    grid-column-end: 10;
}
.sidebar-head{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: space-between;


}
.logo-text{
    color:white;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
}
.sidebar-list-item{
    color:white;
}
ul.sidebar-list{
    list-style-type:none;
}