.main-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.sidebar {
  grid-column-start: 1;
  grid-column-end: 3;
}

.sidebar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-text {
  padding-left: 1em;
  color: white;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
}
.sidebar-list-item {
  color: white;
}
ul.sidebar-list {
  list-style-type: none;
}
ul > li.sidebar-list-item {
  display: flex;
  justify-content: start;
}
ul > li.sidebar-list-item.selected {
  padding: 0.5em;
}
ul > li.sidebar-list-item.selected > img {
  filter: invert(100%) sepia(0%) saturate(3698%) hue-rotate(299deg)
    brightness(117%) contrast(100%);
}
ul > li.sidebar-list-item.selected > a {
  color: white;
}
ul > li.sidebar-list-item > a {
  padding: 1em;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-color);
  padding-left: 1em;
}
.news {
  grid-column-start: 4;
  grid-column-end: 10;
}
.news-navbar {
  display: flex;
  justify-content: space-between;
}
.nav-section {
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  border-bottom: 1px solid var(--buffer-blue);
}
.balance {
  display: flex;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  color: white;
  text-align: center;
  align-content: center;
}
.balance > p.amount {
  padding-left: 1em;
}
.chip-sm {
  background-color: var(--light-blue);
  color: var(--buffer-blue);
  margin: auto 1em;
  border-radius: 5px;
  padding: 0 1em;
  font-size: 12px;
  font-style: bold;
  display: inline;
  height: 20px;
  line-height: 20px;
}
.chip-bg {
  background-color: var(--light-blue);
  color: var(--buffer-blue);
  margin: auto 1em;
  border-radius: 5px;
  padding: 0 1em;
  font-size: 14px;
  line-height: 29px;
  font-weight: 600;
  font-style: bold;
  display: inline;
}
.promo-panel {
  position: relative;
  width: 100%;
  background-color: var(--light-blue);
  height: 6em;
  border-radius: 5px;
}
.promo-panel > p.content {
  color: black;
  padding: 1em;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 1.86em;
}
.promo-panel > img.promo-img {
  position: absolute;
  right: 1em;
  top: 10px;
}
.promo-panel > button.promo-button {
  border: none;
  color: black;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  font-style: bold;
  background-color: white;
  border-radius: 5px;
  padding: 0 1.5em;
  position: absolute;
  bottom: 1em;
  left: 1em;
}
.rewards {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 2em;
}
.rewards > div.rewards-content > p {
  color: white;
  font-family: Poppins;
  font-style: normal;
  margin: 0;
}
.rewards > div.rewards-content > p:first-child {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.rewards > div.rewards-content > p.amount {
  font-weight: 600;
  font-size: 28px;
  line-height: 48px;
}
.rewards > div.rewards-content > div.coin-values {
  display: flex;
  justify-content: space-around;
}
.rewards > div.rewards-content > div.coin-values > p {
  color: white;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  padding: 1em;
}
.custom-link {
  display: flex;
  justify-self: end;
  background-color: var(--buffer-blue);

  padding: 0.5em 1.5em;
  margin: auto 0;
  margin-right: 2em;
  height: 2em;
  border-radius: 10px;
  align-items: center;
}
.custom-link > img {
  padding-right: 0.5em;
}
.custom-link > a {
  font-size: 1em;
  line-height: 2em;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.referal {
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  width: 50%;
}
.referal-details {
  color: white;
  display: flex;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  justify-content: start;
  margin: 0;
}
.referal-link {
  color: white;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
.referals {
  display: flex;
}
.sidebar-balance {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  align-items: center;
  justify-content: end;
}
.sidebar-balance > div {
  font-size: 10px;
}
.tabs {
  color: var(--text-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  display: flex;
}
.tab {
  padding: 1em;
  cursor: pointer;
}

.tab.active {
  color: white;
}
.tab.active::after {
  content: "";
  display: block;
  margin: 0 auto;
  padding-top: 1em;
  border-bottom: solid 2px var(--buffer-blue);
}
.tab-data {
  color: var(--text-color);
  font-weight: 600;
  font-size: 10px;
  line-height: 24px;
  column-gap: 1em;
  width: 100%;

  /* display: flex;
  justify-content: space-around; */
}
.tab-data> tr > td,.tab-data>tr > th {
  padding-left: 1em;
  padding-top: 1em;
  text-align: center;
  /* padding-bottom: 0.5em; */
  /* padding-top: 0.5em; */

}
.tab-data-entry{
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: white;

}
.tab-data-entry-info{
  color:var(--text-color);
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
}
.poppins-600 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
}
 .tab-data-entry .asset-entry {
  display: flex;
  align-items: center;
}
 .asset  {
  display: flex;
  align-items: center;
}
/* .asset .asset-entry > div > div > span:first-child {
  color:var(--text-color);
}
.asset .asset-entry > div > div .chain-name {
  font-size: 0.5em;
}  */

