.main-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.sidebar {
  grid-column-start: 1;
  grid-column-end: 3;
}
.news {
  grid-column-start: 3;
  grid-column-end: 10;
}
.sidebar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-text {
  padding-left: 1em;
  color: white;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
}
.sidebar-list-item {
  color: white;
}
ul.sidebar-list {
  list-style-type: none;
}
ul > li.sidebar-list-item {
  display: flex;
  justify-content: start;
}
ul > li.sidebar-list-item.selected {
  padding: 0.5em;
}
ul > li.sidebar-list-item.selected > img {
  filter: invert(100%) sepia(0%) saturate(3698%) hue-rotate(299deg)
    brightness(117%) contrast(100%);
}
ul > li.sidebar-list-item.selected > a {
  color: white;
}
ul > li.sidebar-list-item > a {
  padding: 1em;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-color);
  padding-left: 1em;
}
