body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --buffer-blue: #3772FF;
  --text-color:#808191;
  --light-blue:#A3E3FF;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
